.grid-masonry {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;

  &-item {
    padding: 4px;
    
    &,
    & img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

// cols
@for $i from 2 through 8 {
  .grid-masonry-cols-#{$i} .grid-masonry-item {
    width: 100% / $i;
  }
}

// order manipulation
@for $i from 2 through 8 {
  @for $j from 1 through $i {
    $child: if($i == $j, #{$j}n, #{$i}n#{"+"}$j);

    .grid-masonry-cols-#{$i} .grid-masonry-item:nth-child(#{$child}) {
      order: $j;
    }
  }
}

// breaks
.grid-masonry-break {
  content: "";
  flex-basis: 100%;
  width: 0 !important;
  margin: 0;
}

@for $i from 1 through 7 {
  .grid-masonry-break-#{$i} {
    order: $i;
  }
}
